@{
    ViewBag.Title = "About";
}
<h1>@ViewBag.Title</h1>

<div></div>
<p>This is a staging project to view my seeds and plants catalogs online. Authenticated users allowed to Edit the Catalog as well</p>
<p>Please register and ask the administrator for permissions</p>
