@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Cactus Depot</h1>
    <p>This site designed to stage and test the on-line catalog of cactus plants and seeds where authorized users can add/edit/delete the database entries</p>
    <p>Purchasing plants and seeds <a href="https://cacticorner.ca">Succulent seeds and plants eStore</a></p>
</div>

<div></div>

<div class="text-center">
    <h2 class="display-4">Project highlights</h2>
    <p></p>
    <p>ASP.NET MVC</p>
    <p>.NET Core 6.0</p>
    <p>Linux: Ubuntu 20.04.4 LTS</p>
    <p>Microsoft Identity Framework</p>
    <p>Dependency injection</p>
    <p>Docker containers</p>
    <p>Docker compose 3.4</p>
    <p>MySql database</p>
</div>