@page
@{
	ViewBag.Title = "Not Found";
}

<header>
	<h1 class="text-danger">@ViewBag.Title</h1>
	<h1 class="text-danger">@ViewBag.Endpoint</h1>
	<h6>The resource you are trying to get Not Found</h6>
	<hr />
	<img src="~/images/noaccess.png" style="height:300px;width:300px" />
</header>
